@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* font-family: "Lato", sans-serif; */
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    color: #1e1744;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
.body {
    padding-left: 5%;
    padding-right: 5%;
}

.flexbox{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 658px;
    margin-top: 7%;
    justify-content: space-around;
}
nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}
nav a:hover{
    border-bottom: 2px solid #000000;
}
.nav-btn{
    background: #8247FF;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    width: 112px;
}
.block{
    margin-top: 10%;
    margin-left: 15%;
}
.sec1_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 98px;
    line-height: 92px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 80%;
}
.group1{
    width: 80%;
    margin-top: 15%;
}
.group1 img{
    width: 100%;
}
.block1{
    margin-top: 10%;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ellips img{
    width: 100%;
    height: 100%;
}
.ellips{
    width: 18px;
    height: 18px;
    margin-top: 0.5%;
}
.flex p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-left: 10px;
}
.block1 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 69px;
    text-align: center;
    color: #000000;
    width: 74%;
    margin-left: 13%;
    margin-top: 5%;
}
#open__modal{
    background: #8247FF;
    border-radius: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 226px;
    height: 80px;
    margin-top: 5%;
    margin-left: 42%;
}
#open__modal img{
    margin-left: 15px;
    margin-top: 1%;
}
.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal_img{
    width: 80%;
	max-width: 700px;
	margin: 0 auto;
    padding-top: 20%;
    padding-left: 10%;
    position: relative;
}
.modal__close{
    position: absolute;
    z-index: 150;
    margin-top: 21%;
    margin-left: 61%;
    font-size: 40px;
	color: #777777;
	cursor: pointer;
	float: right;
}
.modal_active{
    display: block;
}
.grid-slider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    padding-top: 8%;
    gap: 48px;
}
.card1{
    background-color: #EBF8F9;
    border-radius: 20px;
    height: 542px;
}
.im1{
    max-width: 90px;
    margin-top: 60px;
    margin-left: 60px;
}
.im1 img{
    width: 100%;
}
.card1 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-top: 15%;
    margin-left: 60px;
}
.card1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.6);
            margin-top: 12px;
    margin-left: 60px;
    width: 340px;
}
.card2{
    background-color: #E8FBED;
    border-radius: 20px;
    height: 542px;
}
.im2{
    max-width: 90px;
    margin-top: 60px;
    margin-left: 60px;
}
.im2 img{
    width: 100%;
}
.card2 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-top: 15%;
    margin-left: 60px;
}
.card2 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 12px;
    margin-left: 60px;
    width: 315px;
}
.card3{
    background-color: #F7F3FF;
    border-radius: 20px;
    height: 542px;
}
.im3{
    max-width: 90px;
    margin-top: 60px;
    margin-left: 60px;
}
.im3 img{
    width: 100%;
}
.card3 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-top: 15%;
    margin-left: 60px;
}
.card3 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 12px;
    margin-left: 60px;
    width: 313px;
}
.card4{
    background-color: #FFF3E8;
    border-radius: 20px;
    height: 542px;
}
.im4{
    max-width: 90px;
    margin-top: 60px;
    margin-left: 60px;
}
.im4 img{
    width: 100%;
}
.card4 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-top: 15%;
    margin-left: 60px;
}
.card4 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 12px;
    margin-left: 60px;
    width: 332px;
}
.one{
    background-color: #1F1F1F;
    border-radius: 20px;
    height: 455px;
    width: 95%;
}
.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 80%;
}
.one h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 112px;
    color: #FFFFFF;
    margin-top: 84px;
    margin-left: 133px;
}
.b-text1 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: -7%;
    margin-left: 274px;
}
.b-text1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #757575;
    width: 600px;
    margin-top: 11px;
    margin-left: 274px;
}
.other{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #D4D4D4;
}
.two{
    background-color: #1F1F1F;
    border-radius: 20px;
    height: 455px;
    width: 95%;
    margin-top: 5%;
}
.two h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 112px;
    color: #FFFFFF;
    margin-top: 84px;
    margin-left: 133px;
}
.b-text2 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: -7%;
    margin-left: 274px;
}
.b-text2 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #757575;
    width: 600px;
    margin-top: 11px;
    margin-left: 274px;
}
.b-text2 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #D4D4D4;
    margin-left: 274px;
}
.three{
    background-color: #1F1F1F;
    border-radius: 20px;
    height: 455px;
    width: 95%;
    margin-top: 5%;
}
.three h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 112px;
    color: #FFFFFF;
    margin-top: 84px;
    margin-left: 133px;
}
.b-text3 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: -7%;
    margin-left: 274px;
}
.b-text3 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #757575;
    width: 600px;
    margin-top: 11px;
    margin-left: 274px;
}
.b-text3 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #D4D4D4;
    margin-left: 274px;
}
.pricing{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 10%;
    margin-left: 5%;
}
.pricing p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-left: 1%;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10%;
}
.starter{
    background-color: #E8FBED;
    border-radius: 36px;
    width: 80%;
    height: 845px;
}
.starter h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 59px;
    color: #000000;
    margin-top: 58px;
    margin-left: 12%;
}
.starter h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #757575;
    width: 534px;
    margin-top: 38px;
    margin-left: 12%;
}
.tables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 48px;
}
.table1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #000000;
    padding-top: 3%;
}
.table2 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #000000;
    padding-top: 5%;
}
.table2{
    margin-left: -13%;
}
.pay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    margin-right: 10%;
}
.cost p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    margin-top: 3%;
}
.cost h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 59px;
    color: #000000;
    margin-top: 2%;
}
.btn{
    margin-left: -6%;
}
.premium{
    background-color: #F7F3FF;
    border-radius: 36px;
    width: 80%;
    height: 845px;
    margin-top: 5%;
}
.premium h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 59px;
    color: #000000;
    margin-top: 58px;
    margin-left: 12%;
}
.premium h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #757575;
    margin-top: 38px;
    margin-left: 12%;
    width: 490px;
}
.premium button{
    background: #000000;
    border-radius: 200px;
    width: 294px;
    height: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 10%;
    margin-left: 12%;
}
.premium button img{
    margin-left: 15px;
    margin-top: 1%;
}
.table2-1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #000000;
    padding-top: 3%;
}
.FAQ{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 10%;
    margin-left: 5%;
}
.FAQ p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-left: 1%;
}
.accordion{
    display: flex;
    flex-direction: column;
    width: 62%;
    margin-left: 28%;
}
.accordion-head{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 3%;
}
.accordion-block{
    max-height: 0;
	opacity: 0;
	transition: all 0.3s ease-out;
	overflow: hidden;
    display: none;
    margin-bottom: 0;
    font-family: sans-serif;
    color: #000;
    font-size: 1.6em;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04), 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 25px;
    margin-top: 5%;
    height: 30%;
}
.accordion-head.active-p + .accordion-block {
	display: block;
}

.accordion-head.active-style {
	color: #2a2a2a;
	font-weight: 900;
}
.accordion-block.active-content {
	opacity: 1;
	overflow: visible;
}
.sec6{
    height: 65%;
}
.filter-nav {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 59px;
    color: #000000;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.filter-nav ul li{
    display: inline-block;
    padding: 10px 40px 10px 0;
    cursor: pointer;
}
.filter-nav ul li:hover{
    color: #8247FF;
}
.tabs-nav{
    flex-direction: column;
    margin-top: 10%;
}
.item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 80px;
    color: #FFFFFF;
    background-color: #000;
    border-radius: 50%;
    padding: 25px;
    display: none;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5%;
    height: 27%;
}
.item.is-active{
    background: rgba(36, 35, 35, 0.5);
}
.tab.is-active{
    display: block;
}
.sec4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.slider{
    display: none;
}
.wrap {
    width: 60%;
    margin: 0 auto;
    min-height: 187px;
    position: relative;
}
.slider-card {
    width: 85%;
    height: 530px;
    margin: 0 auto;
    margin-top: 20%;
}
.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 25px;
    z-index: 100;
    width: 0%;
    height: 14%;
    position: absolute;
    top:70px;
    margin-top: 20%;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}


.slider-dots {
    text-align: center;
    margin: 1rem 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #a0a1a9;
    border-radius: 50%;
    display: inline-block;
}
.dot.dot-active,
.dot:hover {
    background-color: rgb(0, 0, 0);
}
.burger-btn {
    background-color: transparent;
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
}
.burger-btn span {
    transition: transform .5s, opacity .5s, background-color .5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    left: 5px;
    -webkit-transition: transform .5s, opacity .5s, background-color .5s;
    -moz-transition: transform .5s, opacity .5s, background-color .5s;
    -ms-transition: transform .5s, opacity .5s, background-color .5s;
    -o-transition: transform .5s, opacity .5s, background-color .5s;
}
.burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
}
.burger-btn span:nth-child(2) {
    opacity: 0;
}
.burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
}
.header.open .burger-btn span:nth-child(1) {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.header.open .burger-btn span:nth-child(2){
    opacity: 1;
}
.header.open .burger-btn span:nth-child(3) {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
#open__modal1{
    background: #8247FF;
    border-radius: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 226px;
    height: 80px;
    margin-top: 5%;
    margin-left: 42%;
}
#open__modal1 img{
    margin-left: 15px;
    margin-top: 1%;
}
@media(max-width: 1201px){
    .tab{
        display: none;
    }
    .item{
        display: flex;
    }
    .one h1{
        display: none;
    }
    .two h1{
        display: none;
    }
    .three h1{
        display: none;
    }
    .one{
        width: 90%;
    }
    .two{
        width: 90%;
    }
    .three{
        width: 90%;
    }
    .b-text1{
        margin-top: 16%;
        margin-left: -23%;
    }
    .b-text2{
        margin-top: 16%;
        margin-left: -23%;
    }
    .b-text3{
        margin-top: 16%;
        margin-left: -23%;
    }

}
@media(max-width:1105px){
    .card1 h1{
        font-size: 28px;
    }
    .card1 p{
        width: 300px;
    }
    .card2 h1{
        font-size: 28px;
    }
    .card2 p{
        width: 300px;
    }
    .card3 h1{
        font-size: 28px;
    }
    .card3 p{
        width: 300px;
    }
    .card4 h1{
        font-size: 28px;
    }
    .card4 p{
        width: 300px;
    }
    .sec1_text h1{
        font-size: 70px;
    }
}
@media(max-width: 980px){
    
    .slider{
        display: block;
    }
    .grid-slider{
        display: none;
    }
    .card1 h1{
        font-size: 32px;
    }
    .card1 p{
        width: 332px;
    }
    .card2 h1{
        font-size: 32px;
    }
    .card2 p{
        width: 332px;
    }
    .card3 h1{
        font-size: 32px;
    }
    .card3 p{
        width: 332px;
    }
    .card4 h1{
        font-size: 32px;
    }
    .card4 p{
        width: 332px;
    }
}
@media(max-width:990px){
    .b-text1 p{
        width: 500px;
    }
    .b-text2 p{
        width: 500px;
    }
    .b-text3 p{
        width: 500px;
    }
}
@media(max-width: 960px){
    .table2 p{
        font-size: 18px;
    }
    .table1 p{
        font-size: 18px;
    }
    .table2-1 p{
        font-size: 18px;
    }
}
@media(max-width: 894px){
    .item{
        font-size: 95px;
        padding: 30px;
    }
    .b-text1{
        margin-left: -30%;
    }
    .b-text2{
        margin-left: -30%;
    }
    .b-text3{
        margin-left: -30%;
    }
}
@media(max-width: 868px){
    .b-text1 p{
        width: 400px;
    }
    .b-text2 p{
        width: 400px;
    }
    .b-text3 p{
        width: 400px;
    }
    .starter h2{
        font-size: 28px;
    }
    .table1{
        width: 35%;
    }
    .table2{
        width: 35%;
    }
    .table2-1{
        width: 35%;
    }
    #open__modal1{
        width: 188px;
    }
}
@media(max-width:790px){
    .card1 h1{
        font-size: 28px;
    }
    .card1 p{
        width: 280px;
    }
    .card2 h1{
        font-size: 28px;
    }
    .card2 p{
        width: 280px;
    }
    .card3 h1{
        font-size: 28px;
    }
    .card3 p{
        width: 280px;
    }
    .card4 h1{
        font-size: 28px;
    }
    .card4 p{
        width: 280px;
    }
    .next{
        margin-top: 34%;
    }
    .prev{
        margin-top: 34%;
    }
}
@media(max-width: 751px){
    .starter h2{
        width: 420px;
    }
    .starter{
        height: 900px;
    }
    .premium h2{
        font-size: 28px;
        width: 400px;
    }
    #open__modal1{
        width: 170px;
        height: 70px;
    }
    .filter-nav{
        font-size: 46px;
    }
    #open__modal{
        margin-left: 36%;
    }
}
@media(max-width:734px){
    .premium{
        height: 900px;
    }
    .one{
        width: 80%;
        height: 70%;
    }
    .b-text1 h2{
        font-size: 26px;
    }
    .b-text1 p{
        font-size: 24px;
        line-height: 38px;
    }
    .other{
        font-size: 24px;
        line-height: 38px;
    }
    .b-text1{
        margin-left: -48%;
    }
    .two{
        width: 80%;
        height: 70%;
    }
    .b-text2 h2{
        font-size: 26px;
    }
    .b-text2 p{
        font-size: 24px;
        line-height: 38px;
    }
    .b-text2 h3{
        font-size: 24px;
        line-height: 38px;
    }
    .b-text2{
        margin-left: -48%;
    }
    .three{
        width: 80%;
        height: 70%;
    }
    .b-text3 h2{
        font-size: 26px;
    }
    .b-text3 p{
        font-size: 24px;
        line-height: 38px;
    }
    .b-text3 h3{
        font-size: 24px;
        line-height: 38px;
    }
    .b-text3{
        margin-left: -48%;
    }
    .tabs-nav{
        margin-left: 10%;
    }
    .filter-nav{
        font-size: 38px;
    }
    .block1 h1{
        font-size: 42px;
    }
    .sec1_text h1{
        font-size: 60px;
    }
    .ellips{
        margin-top: 1%;
    }
}
@media(max-width: 710px){
    .b-text1 p{
        font-size: 22px;
        line-height: 36px;
    }
    .other{
        font-size: 22px;
        line-height: 36px;
    }
    .b-text2 p{
        font-size: 22px;
        line-height: 36px;
    }
    .b-text2 h3{
        font-size: 22px;
        line-height: 36px;
    }
    .b-text3 p{
        font-size: 22px;
        line-height: 38px;
    }
    .b-text3 h3{
        font-size: 22px;
        line-height: 36px;
    }
    .b-text1 p{
        width: 304px;
    }
    .b-text2 p{
        width: 304px;
    }
    .b-text3 p{
        width: 304px;
    }
}
@media(max-width: 693px){
    .burger-btn {
        display: block;
        z-index: 2;
        cursor: pointer;
    }
    .nav{
        padding: 100px 20px 20px 20px;
        display: block;
        width: 18%;
        position: absolute;
        left: 86%;
        top: 0;
        background-color: #030205b6;
        transition: transform .5s;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
        z-index: 100;
    }
    .nav a{
        color: #D4D4D4;
    }
    .header.open .nav{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}
@media(max-width: 679px){
    .starter h2{
        font-size: 24px;
        width: 373px;
    }
    .premium h2{
        font-size: 24px;
    }
    #open__modal1{
        width: 150px;
        height: 65px;
        font-size: 16px;
    }
}
@media(max-width: 645px){
    .sec1_text h1{
        font-size: 43px;
        line-height: 55px;
    }
    .block1 h1{
        font-size: 32px;
        line-height: 45px;
    }
    .card1 h1{
        font-size: 20px;
    }
    .card1 p{
        width: 230px;
        font-size: 18px;
    }
    .card2 h1{
        font-size: 20px;
    }
    .card2 p{
        width: 230px;
        font-size: 18px;
    }
    .card3 h1{
        font-size: 20px;
    }
    .card3 p{
        width: 230px;
        font-size: 18px;
    }
    .card4 h1{
        font-size: 20px;
    }
    .card4 p{
        width: 230px;
        font-size: 18px;
    }
    .item{
        font-size: 60px;
        height: 22%;
    }
    .accordion-head{
        font-size: 26px;
    }
    .accordion-block{
        font-size: 22px;
    }
    .b-text1{
        margin-left: -55%;
    }
    .b-text2{
        margin-left: -55%;
    }
    .b-text3{
        margin-left: -55%;
    }
}
@media(max-width:595px){
    #open__modal1{
        width: 125px;
        height: 50px;
        font-size: 13px;
        margin-top: 18%;
    }
    .starter h2{
        width: 350px;
        line-height: 30px;
    }
    .premium h2{
        line-height: 30px;
        width: 350px;
    }
    .b-text1{
        margin-left: -62%;
    }
    .b-text2{
        margin-left: -62%;
    }
    .b-text3{
        margin-left: -62%;
    }
}
@media(max-width:560px){
    .flexbox{
        width: 80%;
    }
    .nav{
        left: 84%;
        width: 20%;
    }
    .im1{
        margin-left: 10%;
    }
    .card1 h1{
        margin-left: 10%;
    }
    .card1 p{
        margin-left: 10%;
    }
    .slider-card{
        height: 460px;
    }
    .im2{
        margin-left: 10%;
    }
    .card2 h1{
        margin-left: 10%;
    }
    .card2 p{
        margin-left: 10%;
    }
    .im3{
        margin-left: 10%;
    }
    .card3 h1{
        margin-left: 10%;
    }
    .card3 p{
        margin-left: 10%;
    }
    .im4{
        margin-left: 10%;
    }
    .card4 h1{
        margin-left: 10%;
    }
    .card4 p{
        margin-left: 10%;
    }
    .b-text1{
        margin-left: -68%;
    }
    .b-text2{
        margin-left: -68%;
    }
    .b-text3{
        margin-left: -68%;
    }
    .pay{
        width: 84%;
    }
    .cost{
        margin-left: 10%;
    }
    .modal_img{
        padding-left: 2%;
    }
    .modal__close{
        margin-left: 70%;
    }
    .starter h2{
        width: 300px;
    }
    .starter{
        height: 920px;
    }
    .premium h2{
        width: 300px;
    }
}
@media(max-width: 545px){
    .one{
        height:400px;
        margin-top: -14%;
    }
    .two{
        height: 400px;
        margin-top: -14%;
    }
    .three{
        height: 400px;
        margin-top: -14%;
    }
    .b-text1 p{
        width: 290px;
    }
    .b-text2 p{
        width: 290px;
    }
    .b-text3 p{
        width: 290px;
    }
    .b-text1 h2{
        margin-top: 1%;
    }
    .b-text2 h2{
        margin-top: 1%;
    }
    .b-text3 h2{
        margin-top: 1%;
    }
    .sec4{
        flex-direction: column;
        align-items: center;
    }
    .tabs-nav{
        width: 10%;
        flex-direction: row;
        display: flex;
        margin-left: -52%;
    }
    .item{
        height: 10%;
        padding: 13px;
        border-radius: 0;
    }
    #open__modal{
        margin-left: 30%;
        width: 200px;
        height: 65px;
    }
}
@media(max-width: 515px){
    .b-text1{
        margin-left: -68%;
    }
    .one{
        width: 90%;
    }
    .b-text2{
        margin-left: -68%;
    }
    .two{
        width: 90%;
    }
    .b-text3{
        margin-left: -68%;
    }
    .three{
        width: 90%;
    }
}
@media(max-width: 501px){
    .filter-nav{
        font-size: 28px;
        margin-left: 8%;
    }
    .ellips{
        margin-top: 2%;
        width: 16px;
        height: 16px;
    }
    .starter h1{
        font-size: 42px;
        margin-top: 7%;
    }
    .starter h2{
        font-size: 20px;
        margin-top: 4%;
        width: 280px;
    }
    .table1 p{
        font-size: 16px;
        line-height: 24px;
    }
    .table2 p{
        font-size: 16px;
        line-height: 24px;
    }
    .table2-1 p{
        font-size: 16px;
        line-height: 24px;
    }
    .premium h1{
        font-size: 42px;
    }
    .premium h2{
        font-size: 20px;
        margin-top: 4%;
        width: 266px;
    }
    .cost h3{
        font-size: 45px;
    }
    .pay{
        width: 80%;
    }
    .starter{
        height: 780px;
    }
    .premium button{
        width: 270px;
        height: 70px;
    }
    .premium{
        height: 725px;
    }
    .accordion-head{
        font-size: 22px;
    }
    .im1{
        max-width: 75px;
        margin-top: 12%;
    }
    .im2{
        max-width: 75px;
        margin-top: 12%;
    }
    .im3{
        max-width: 75px;
        margin-top: 12%;
    }
    .im4{
        max-width: 75px;
        margin-top: 12%;
    }
    .card1 p{
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }
    .card2 p{
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }
    .card3 p{
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }
    .card4 p{
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }
    .card1 h1{
        font-size: 18px;
    }
    .card2 h1{
        font-size: 18px;
    }
    .card3 h1{
        font-size: 18px;
    }
    .card4 h1{
        font-size: 18px;
    }
    .slider-card{
        height: 350px;
    }
    .next img{
        width: 35px;
    }
    .prev img{
        width: 35px;
    }
    .next{
        margin-top: 25%;
    }
    .prev{
        margin-top: 25%;
    }
    .modal_img img{
        width: 70%;
        margin-left: 4%;
    }
    .modal__close{
        margin-left: 63%;
    }
    .nav{
        left: 82%;
        width: 22%;
    }
}
@media(max-width: 472px){
    .b-text1 p{
        font-size: 20px;
        width: 270px;
        line-height: 25px;
    }
    .other{
        font-size: 20px;
        width: 270px;
        line-height: 25px;
    }
    .b-text1 h2{
        font-size: 24px;
    }
    .one{
        height: 348px;
    }
    .b-text2 p{
        font-size: 20px;
        width: 270px;
        line-height: 25px;
    }
    .b-text2 h3{
        font-size: 20px;
        width: 270px;
        line-height: 25px;
    }
    .b-text2 h2{
        font-size: 24px;
    }
    .two{
        height: 348px;
    }
    .b-text3 p{
        font-size: 20px;
        width: 270px;
        line-height: 25px;
    }
    .b-text3 h3{
        font-size: 20px;
        width: 270px;
        line-height: 25px;
    }
    .b-text3 h2{
        font-size: 24px;
    }
    .three{
        height: 348px;
    }
    .nav{
        width: 24%;
        left: 80%;
    }
    .sec1_text h1{
        font-size: 40px;
    }
    .block1 h1{
        margin-top: 10%;
    }
}
@media(max-width: 453px){
    .block1 h1{
        font-size: 28px;
        line-height: 38px;
    }
    .card1 p{
        width: 180px;
    }
    .card2 p{
        width: 180px;
    }
    .card3 p{
        width: 180px;
    }
    .card4 p{
        width: 180px;
    }
    .b-text1{
        margin-left: -75%;
    }
    .b-text2{
        margin-left: -75%;
    }
    .b-text3{
        margin-left: -75%;
    }
    .accordion-head{
        line-height: 32px;
    }
}
@media(max-width:440px){
    .premium button{
        width: 248px;
        height: 60px;
    }
    .premium{
        height: 750px;
    }
    .premium h1{
        margin-top: 10%;
    }
    .premium h2{
        width: 240px;
    }
    .pay{
        width: 65%;
    }
    .cost{
        margin-left: 30%;
    }
    .cost h3{
        font-size: 40px;
    }
    .b-text1{
        margin-left: -80%;
    }
    .b-text2{
        margin-left: -80%;
    }
    .b-text3{
        margin-left: -80%;
    }
    .card4 h1{
        width: 85%;
        line-height: 30px;
    }
    .sec1_text h1{
        font-size: 38px;
    }
}
@media(max-width: 419px){
    .sec1_text h1{
        font-size: 36px;
        line-height: 40px;
    }
    .item{
        font-size: 40px;
        line-height: 40px;
    }
    .b-text1 h2{
        font-size: 20px;
    }
    .b-text1 p{
        font-size: 16px;
    }
    .other{
        font-size: 16px;
    }
    .b-text1 p{
        width: 41%;
    }
    .one{
        height: 285px;
    }
    .modal_img img{
        margin-left: 0%;
        margin-top: 45%;
    }
    .modal__close{
        margin-top: 56%;
        margin-left: 60%;
    }
    .b-text2 h2{
        font-size: 20px;
    }       
    .b-text2 p{
        font-size: 16px;
    }
    .b-text2 h3{
        font-size: 16px;
    }
    .b-text2 p{
        width: 41%;
    }
    .two{
        height: 285px;
    }
    .b-text3 h2{
        font-size: 20px;
    }
    .b-text3 p{
        font-size: 16px;
    }
    .b-text3 h3{
        font-size: 16px;
    }
    .b-text3 p{
        width: 41%;
    }
    .three{
        height: 285px;
    }
    .nav{
        width: 30%;
        left: 68%;
    }
    .filter-nav{
        font-size: 25px;
    }
    .pricing p{
        font-size: 20px;
        margin-left: 2%;
    }
    .starter h1{
        font-size: 36px;
    }
    .starter h2{
        font-size: 16px;
        line-height: 20px;
        width: 227px;
    }
    .tables{
        margin-top: 10%;
    }
    .cost h3{
        font-size: 34px;
    }
    .starter{
        height: 700px;
    }
    .premium h1{
        font-size: 36px;
    }
    .premium h2{
        font-size: 16px;
        line-height: 20px;
        width: 227px;
    }
    .premium button{
        width: 230px;
    }
    .premium{
        height: 670px;
    }
    .FAQ p{
        font-size: 20px;
        margin-left: 2%;
    }
    .next img{
        width: 30px;
    }
    .prev img{
        width: 30px;
    }
    #open__modal{
        width: 165px;
        height: 57px;
        font-size: 16px;
    }
}
@media(max-width: 381px){
    .sec1_text h1{
        font-size: 32px;
    }
    .block1 h1{
        font-size: 24px;
    }
    .nav{
        left: 70%;
        padding-top: 20%;
    }
    .block1 button{
        width: 600px;
    }
    .b-text1{
        margin-left: -89%;
        margin-top: 10%;
    }
    .b-text2{
        margin-left: -89%;
        margin-top: 10%;
    }
    .b-text3{
        margin-left: -89%;
        margin-top: 10%;
    }
    .im1{
        max-width: 65px;
    }
    .card1 h1{
        font-size: 16px;
    }
    .card1 p{
        font-size: 12px;
        width: 143px;
    }
    .card1{
        height: 315px;
    }
    .im2{
        max-width: 65px;
    }
    .card2 h1{
        font-size: 16px;
    }
    .card2 p{
        font-size: 12px;
        width: 143px;
    }
    .card2{
        height: 315px;
    }
    .im3{
        max-width: 65px;
    }
    .card3 h1{
        font-size: 16px;
    }
    .card3 p{
        font-size: 12px;
        width: 143px;
    }
    .card3{
        height: 315px;
    }
    .im4{
        max-width: 65px;
    }
    .card4 h1{
        font-size: 16px;
    }
    .card4 p{
        font-size: 12px;
        width: 143px;
    }
    .card4{
        height: 315px;
    }
    .next img{
        width: 25px;
    }
    .prev img{
        width: 25px;
    }
    .starter h2{
        width: 200px;
    }
    .premium h2{
        width: 200px;
    }
    .table1 p{
        font-size: 13px;
        line-height: 20px;
    }
    .table2 p{
        font-size: 13px;
        line-height: 20px;
    }
    .table2-1 p{
        font-size: 13px;
        line-height: 20px;
    }
    #open__modal1{
        width: 115px;
        height: 40px;
        font-size: 12px;
        margin-top: 25%;
    }
    .cost h3{
        font-size: 28px;
    }
    .cost p{
        font-size: 11px;
        line-height: 17px;
    }
    .starter{
        height: 640px;
    }
    .premium button{
        width: 200px;
        font-size: 14px;
    }
    .premium{
        height: 580px;
    }
    .accordion-head{
        font-size: 18px;
    }
}
@media(max-width:353px){
    .sec1_text h1{
        font-size: 30px;
    }
    .block1 h1{
        font-size: 20px;
        line-height: 29px;
    }
    .b-text1{
        margin-left: -100%;
    }
    .b-text2{
        margin-left: -100%;
    }
    .b-text3{
        margin-left: -100%;
    }
    .filter-nav{
        font-size: 22px;
    }
    .premium button{
        height: 43px;
    }
}